*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background-color: blanchedalmond;
}
header{
    background-color: black;
    color: white;
    padding: 15px;
}
header h1{
    font-size: 30px;
}
main{
    min-height: 40vh;
    padding: 30px;
    margin: 0 auto;
    max-height: 880px;
}
.result{
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
}
.result p{
    margin-top: 20px
}

.result li{
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 10px;
}
main form{
    display: flex;
    justify-content: center;
}
form input[type="text"], button[type="submit"]{
  padding: 15px;
  font-weight: 50px;
 font-size: 16px;
 border: none;
 border-radius: 10px;
 margin: 5px;
 
}
form input[type="text"]{
    flex-grow: 1;
}
button{
    background-color: black;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.756);
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
}
